@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1.section-title {
  background: linear-gradient(#12CAE5 0%, #AB4FC7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

p.content-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
}

p.content-text {
  color: #959595;
}

img.content-img {
  border-radius: 20px;
  box-shadow: 0px 5px 50px rgba(16, 0, 110, 0.4);
}

.content-group {
  margin-bottom: 5rem;
}


// CARD
.section-card {
  border: 1px solid transparent;
  background: linear-gradient(234.24deg, #FFF, #FFF)padding-box,
    linear-gradient(234.24deg, #C400FF 22.85%, #00DEFF 75.12%)border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 5px;
  transition: all .5s;
  position: relative;
  padding: 1.875rem;
  height: 100%;

  &:hover {
    background: linear-gradient(234.24deg, #FFF, #FFF)padding-box,
      linear-gradient(234.24deg, #00DEFF 22.85%, #C400FF 75.12%)border-box;
    transform: scale(1.05);
    top: -2px;
  }


  .section-card-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: .625rem;
  }

  .section-card-text {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #959595;
  }

  .section-card-img {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
}

// BUTTON
.my-btn-primary {
  margin-top: 3.125rem;
  padding: 1rem 3.125rem;
  background: linear-gradient(94.67deg, #AB4FC7 0%, #3E00C1 100%);
  -webkit-box-shadow: 0px 0px 50px 15px rgba(18, 202, 229, 0.308);
  box-shadow: 0px 0px 50px 15px rgba(18, 202, 229, 0.308);
  border-radius: 5px;
  display: inline-block;
  color: #FFFFFF !important;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-transition: .5s;
  transition: .5s;
  border: none;

  &:hover {
    -webkit-box-shadow: 0px 0px 50px 15px rgba(229, 18, 134, 0.308) !important;
    box-shadow: 0px 0px 50px 15px rgba(229, 18, 134, 0.308) !important;
  }

  &:focus {
    -webkit-box-shadow: 0px 0px 50px 15px rgba(187, 18, 229, 0.308) !important;
    box-shadow: 0px 0px 50px 15px rgba(187, 18, 229, 0.308) !important;
  }

  &:active {
    border: none;
  }
}

.my-btn-secondary {
  margin-top: 3.125rem;
  padding: 1rem 3.125rem;
  display: inline-block;
  color: #FFFFFF !important;
  text-decoration: none;
  font-size: 1.125rem;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #3E00C1;
  border-radius: 5px;

  &:hover {
    border: 1px solid #AB4FC7 !important;
  }
}

// NAV
nav.navbar#my-navbar {
  background: #00144C;
  border-bottom: #002daa 1px solid;

  .container {

    a.nav-link {
      color: #FFF;
      transition: all 0.3s ease-in-out;
      position: relative;

      &::after {
        content: "";
        background: linear-gradient(90deg, #AB4FC7 0%, #3E00C1 100%);
        position: absolute;
        width: 0%;
        height: 0.225rem;
        bottom: .2rem;
        left: 20%;
        transition: .5s;
        border-radius: 50px;
        transition: .5s;
      }

      &:hover {
        background: linear-gradient(90deg, #12CAE5 0%, #AB4FC7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover::after,
      &.active::after {
        width: 60%;
        transition: .4s;
      }

      &.active {
        background: linear-gradient(90deg, #12CAE5 0%, #AB4FC7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
      }
    }
  }
}

// HOMEPAGE
section.home#home {
  padding-top: 8rem;
  padding-bottom: 5rem;
  background: #00144C;

  p.home-subtitle {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
  }

  h1.home-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;

    span {
      background: linear-gradient(90deg, #12CAE5 0%, #AB4FC7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: underline;
    }
  }

  p.home-text {
    color: #FFF;
    font-weight: 400;
  }
}

// PROFILE

// HOMETOWN
section.hometown-hero#hometown-hero {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

section.hometown-history#hometown-history {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

// FOOD
section.food#food {
  padding-top: 8rem;
  padding-bottom: 5rem;
  background: #00144C;
}

section.other-food#other-food {
  padding-top: 5rem;
  padding-bottom: 5rem;
}